.search {
    position: relative;
    width: 361px;
    height: 46px;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    display: flex;
    border: 1px solid transparent;
    input {
        flex: 1;
        padding: 12px 35px 12px 12px;
        font-size: 1.6rem;
        color: var(--black-color);
        background-color: transparent;
        height: 100%;
        caret-color: red;
    }

    input:valid ~ .search-btn {
        color: var(--black-color);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.34);
    }
}

.search-result {
    position: relative;
    width: 361px;
}

.search-title {
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.5);
    font-weight: 600;
    padding: 5px 12px;
}

.search-clear,
.loading {
    position: absolute;
    right: calc(var(--search-btn) + 12px);
    color: rgba(22, 24, 35, 0.34);
    font-size: 1.6rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.search-btn {
    position: relative;
    width: var(--search-btn);
    height: 100%;
    background-color: transparent;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    cursor: pointer;
    transition: 0.5s;
    font-size: 2rem;
    color: rgba(22, 24, 35, 0.34);
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
    &::after {
        position: absolute;
        content: '';
        width: 1px;
        height: calc(var(--search-height) - 18px);
        left: -1px;
        background-color: rgba(22, 24, 35, 0.12);
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
.loading {
    animation: spiner 2s linear infinite;
}

@keyframes spiner {
    0% {
        transform: translateY(-50%) rotate(0deg);
    }
    100% {
        transform: translateY(-50%) rotate(360deg);
    }
}
