@import 'normalize.css';

:root {
    --default-layout-header-height: 60px;
    --default-layout-container-width: 1150px;
    --color-black: #000;
    --text-color: #161823;
    --primary: rgba(254, 44, 85, 1);
    --white: #fff;
    --font-family: 'ProximaNova', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
//scrollbar

::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #f1f1f2;
}
::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

html {
    font-size: 62.5%;
}
body {
    font-family: 'ProximaNova', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
}
//fonts Emmbeded
@font-face {
    font-family: ProximaNova;
    src: url('../assets/font/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: ProximaNova;
    src: url('../assets/font/Proxima-Nova-Semibold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: Sofiapro;
    src: url('../assets/font/sofiapro-bold.woff');
    font-weight: 700;
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

button {
    font-family: var(--font-family);
}

a {
    font-family: var(--font-family);
    text-decoration: none;
    color: var(--text-color);
}
input {
    font-family: var(--font-family);
}
// custom tippy tootip

body {
    .tippy-box {
        position: relative;
        line-height: 2.2rem;
        font-size: 1.6rem;
        font-weight: 600;
        border-radius: 8px;
        background-color: rgba(88, 88, 84, 0.92);
    }

    .tippy-content {
        padding: 8px 9px;
    }
    .tippy-arrow {
        color: rgba(88, 88, 84, 0.92);
    }
}
